body{background-color: lightblue}
h2{
    color: white;
    text-align: center;
}
p{
    font-family: 돋움;
    font-size: : 15px;
    padding: 5px;
    padding-left: 20px;
    color: white;
}
li{list-style-type: none; padding: 5px; background-color: hotpink; margin: 20px}